html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.stars .fa {
    color: gold;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transition: 0.5s;
    transform: rotateY(180deg);
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}

.deck .card.not-match {
    background-color: red;
    animation-name: bad-guess;
    animation-duration: 1s;
}

@keyframes bad-guess {
    0% {
        
    }
    25% {
        transform-origin: center bottom;
        transform: rotate(-10deg);
    }
    50% {
        transform-origin: center bottom;
        transform: rotate(20deg);
    }
    75% {
        transform-origin: center bottom;
        transform: rotate(-10deg);
    }
    100% {
        transform-origin: center bottom;
        transform: rotate(10deg);
    }
}

/*
 * Styles for the Score Panel
 */
.score-panel {
    text-align: left;
    width: 660px;
    border-bottom-style: solid;
    border-bottom-color: #e5e5e5;
    margin-bottom: 20px;
}

.score-panel .stars {
    margin: 0;
    padding: 0 0 0 8%;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    padding: 0 8% 0 0;
    float: right;
    cursor: pointer;
}


/*
 * Styles for the end game modal
 */
 .modal {
    display: none;
    text-align: center;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    position: fixed;
}

.modal div {
    margin: auto;
    position: absolute;
    top: 20%;
    width: 100%;
}

.checker {
    margin: auto;
    margin-bottom: -5%;
    width: 210px;
    height: 200px;
    background:url(../img/greencheckmark.png) no-repeat;
    background-position: 0 0;
}

button {
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 1% 2%;
    border-radius: 10px;
    color: white;
    border: none;
    -webkit-box-shadow: 3px 3px 5px 0px rgba(0,9,102,0.6);
    -moz-box-shadow: 3px 3px 5px 0px rgba(0,9,102,0.6);
    box-shadow: 3px 3px 5px 0px rgba(0,9,102,0.6);
}

button:hover {
    background: linear-gradient(160deg, #aa7ecd 0%, #02ccba 100%);
    color: #e5e5e5;
    border: 3px solid #e5e5e5;
    border-top-color: #cecece;
    border-left-color: #cecece;
}

/* Hall of fame modal*/

.hallOfFame {
    display: none;
    text-align: center;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    position: fixed;
}

.hallOfFame div {
    margin: auto;
    position: absolute;
    top: 10%;
    width: 100%;
}

header {
    margin: 0 5%;
    display: inline;
    color: gold;
    text-transform: uppercase;
    text-decoration: underline;
    text-shadow: 0.1rem 0.1rem rgba(0,9,102,0.1);

}
table {
  width: 90%;
  margin: auto;
  text-align: center;         
}
tr th {
  text-align: inherit;
  font-style: italic;
}
tr:nth-child(even) {
  background-color: gold;
}

.HFbuttons {
    margin-top: 5%;
}
.HFbuttons button:first-child {
    margin-right: 3rem;
}